parameters:
	ignoreErrors:
		-
			message: '#^Constant CURLOPT_REDIR_PROTOCOLS_STR not found\.$#'
			identifier: constant.notFound
			count: 2
			path: app/Controllers/LibriController.php

		-
			message: '#^Offset ''traduttore'' on array.*in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php

		-
			message: '#^Offset ''illustratore'' on array.*in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: app/Models/BookRepository.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: app/Support/QueryCache.php
